@model IEnumerable<MyNewApp.Models.Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">Create Category</a>
        </div>
    </div>
    
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Category Name
                </th>
                <th>
                    Display Order
                </th>
                <th>
                    Created Date Time
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="50%">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td width="50%">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td width="50%">
                        @Html.DisplayFor(modelItem => item.DisplayOrder)
                    </td>
                    <td width="50%">
                        @Html.DisplayFor(modelItem => item.CreatedDateTime)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>